.section{
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.container{
    border: 2px solid var(--border);
    margin: 0 auto;
    width: 500px;
    background-color: var(--medium-bg);
    border-radius: 10px;
}

.buttons{
    margin: 20px auto;
    align-items: center;
    width: 450px;
    display: flex;
    justify-content: space-around;
}