.section {
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}
.section h1 {
  padding: 20px;
}
.imgContainer {
  height: 150px;
  width: 150px;
}
.container {
  border: 2px solid var(--border);
  margin: 0 auto;
  width: 450px;
  background-color: var(--medium-bg);
  border-radius: 10px;
}
.container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--text);
  padding-right: 10px;
  width: 100%;
  border: none;
  border-left: 2px solid var(--bg);
  border-bottom: 2px solid var(--border);
  border-top-left-radius: 11px;
  background-color: transparent;
  height: 40px;
  text-indent: 10px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px), calc(100% - 15px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.container option {
  border: none;
  background-color: var(--light-bg);
}
.container textarea {
  color: var(--text);
  border: none;
  border-left: 2px solid var(--bg);
  border-radius: 0;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  height: 100%;
  min-height: 300px;
  width: 95%;
  background-color: transparent;
}

.buttons {
  margin: 20px auto;
  align-items: center;
  width: 450px;
  display: flex;
  justify-content: space-around;
}
