.btn {
  border: 2px solid var(--border);
  border-radius: 11px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  line-height: 26px;
  cursor: pointer;
}
.btn:hover,
.btn:focus-visible {
  border: none;
  outline: none;
  color: var(--active);
  border: 2px solid var(--active);
  transition: 0.3s ease-out;
}

.primary {
  color: var(--accent);
  border: 2px solid var(--accent);
  background-color: var(--medium-bg);
}

.secondary {
  background-color: var(--medium-bg);
  color: var(--text);
}

.danger {
  font-weight: 500;
  letter-spacing: .05rem;
  transition: 0s;
  color: var(--danger);
  background-color: var(--border);
  border: 2px solid var(--danger);
}

.danger:hover, .danger:focus-visible{
  border: 2px solid var(--danger);
  color: var(--text);
  background-color: var(--danger);
}

.danger:focus-visible{
  border: 2px solid var(--active);
}